src/main/mule/Implementation/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
<flow name="get:\reports:uhub-sapi-config">
		<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set CorrelationId" doc:id="8db2475e-fc99-452d-91f0-b6a911aa1bb4" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Log" doc:id="343d4b2e-65c8-416e-9db4-7ac19aeae713" message='transactionID: #[vars.transactyionId], correlationID : #[vars.correlationId], message : "Started fetching covid cases report", payload: #[payload]' />
		<ee:transform doc:name="covid case dynamic query" doc:id="b0ed8442-382a-405c-94a8-8e647b333cd6" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="reportsDynamicQuery" ><![CDATA[%dw 2.0
output application/json
---
if(!isEmpty(attributes.queryParams.state)) (
	"select count(*) as count, case_type, state from cvd_case_master where state = '" ++ upper(attributes.queryParams.state) ++ "' group by case_type, state"
) else (
	"select count(*) as count, case_type, state from cvd_case_master group by case_type, state")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Retrive Covid Case Report" doc:id="86c6dc52-2fe4-4740-848a-8ce1b9d64323" name="fetch-covid-case-report-sub-flow" />
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
fun vaccinatedByState(state) = (payload filter(($.STATE == state as String) and ($.CASE_TYPE == "vaccinated")) map {
	COUNT: $.COUNT
})[0]
---
((payload groupBy($.STATE) mapObject {
	caseReports: {
		state: $$,
		reports: {
			total: ($.COUNT reduce $ + $$) - (vaccinatedByState($$).COUNT as Number default 0),
			($ orderBy($.CASE_TYPE) map {
				($.CASE_TYPE): $.COUNT
			})
		}
	}
}).*caseReports) default []]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="03f839cd-aba7-431f-9003-f1ce2e49d17e" message='transactionID: #[vars.transactyionId], correlationID : #[vars.correlationId], message : "Successfuly fetch covid cases details by national id"' />
    
</flow>	
</mule>
