src/main/mule/Implementation/get-covid-case-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
<flow name="get:\cases\(nationalID):uhub-sapi-config">
		<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set CorrelationId" doc:id="b85b5491-90e7-4b77-a4b6-fac64e19bcd8" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Log" doc:id="88f2f4e5-d959-461e-8bd3-27177634c6dc" message='transactionID: #[vars.transactyionId], correlationID : #[vars.correlationId], message : "Started fetch covid cases details by national id", payload: #[payload]' />
		<set-variable value="#[attributes.uriParams.nationalID]" doc:name="Set national ID" doc:id="e3648609-1767-4664-bece-1fbddbc86873" variableName="nationalID"/>
		<flow-ref doc:name="Retrive-Covid-Case-by-nationalID-Sub-Flow" doc:id="886e0372-d6d4-4e0b-b776-1587d9cd36be" name="fetch-covid-case-by-national-id-sub-flow" />
		<choice doc:name="Choice" doc:id="e30675c1-399c-436c-8c0c-27336ba28b69" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Preparing output data" doc:id="946e9d49-156c-4ca7-9641-e8e2654a0a24" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(covidCase,indexOfcovid) ->
{
	source : covidCase.SOURCE,
	caseID :covidCase.CASE_ID,
	caseType : covidCase.CASE_TYPE,
	firstName : covidCase.FIRST_NAME,
	lastName : covidCase.LAST_NAME,
	phone : covidCase.PHONE,
	email : covidCase.EMAIL,
	dateOfBirth : covidCase.DATE_OF_BIRTH as String {format : "yyyy-MM-dd"},
	nationalID : covidCase.NATIONAL_ID,
	nationalIDType : covidCase.NATIONAL_ID_TYPE,
	address: {
		streetAddress : covidCase.STREET_ADDRESS,
		city : covidCase.CITY,
		state : covidCase.STATE,
		postal : covidCase.POSTAL,
		country : covidCase.COUNTRY,
	},
	createDate : covidCase.CREATE_DATE as String {format : "yyyy-MM-dd"},
	updateDate : covidCase.UPDATE_DATE as String {format : "yyyy-M-dd"}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Not found" doc:id="47cf5e94-c6dc-44a9-a5d0-df676f149063" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	code : "404",
	message : "Resource not found",
	description : "The server has not found anything matching the request URI",
	dateTime : now() as String {format : "yyyy-MM-dd"},
	transactionId : vars.transactionId
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Log" doc:id="58e03f53-df43-483f-98ad-0157a96d3aac" message='transactionID: #[vars.transactyionId], correlationID : #[vars.correlationId], message : "Successfuly fetch covid cases details by national id"' />
    
</flow>	
</mule>
