src/main/mule/Implementation/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
 <flow name="post:\cases:application\json:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set CorrelationId" doc:id="1e89cbff-5a41-4d7c-ac84-7e30ac0e9275" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start Log" doc:id="d22e34b6-3a36-4d19-a6c1-44b1f2ee24fc" message='transactionID: #[vars.transactyionId], correlationID : #[vars.correlationId], message : "started register covid cases", payload: #[payload]'/>
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="08eb1395-ff0f-4dfc-9301-526183557327" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var currentDate = now() as String { format: "yyyy-MM-dd" }
---
{
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: currentDate,
	update_date: currentDate,
	create_by: "UHIS",
	update_by: "UHIS"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Insert-Covid-Case-Sub-Flow" doc:id="f2a0a549-effe-42f7-aa8e-af194bcd61bc" name="insert-covid-case-sub-flow"/>
		<ee:transform doc:name="Prepare Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload.generatedKeys.GENERATED_KEY
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="c90cd16a-6942-4c4a-a48f-d11319955a60" message='transactionID: #[vars.transactyionId], correlationID : #[vars.correlationId], message : "Completed register covid cases"'/>
    
</flow>	
</mule>
