src/main/mule/Implementation/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
<flow name="put:\cases:application\json:uhub-sapi-config">
		<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set CorrelationId" doc:id="66342214-b979-41c0-86ff-3c73e20f160c" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Log" doc:id="90544144-a6a1-467f-933b-dfe6a6a5b5f9" message='transactionID: #[vars.transactyionId], correlationID : #[vars.correlationId], message : "started update covid cases", payload: #[payload]' />
		<ee:transform doc:name="Update Covid Case Payload" doc:id="f7a7c21a-4ff0-4966-bf61-9cc258010672" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="covidCase" ><![CDATA[%dw 2.0
output application/java
var currentDate = now() as String { format: "yyyy-MM-dd" }
---
{
	case_id: payload.caseID,
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: currentDate,
	update_date: currentDate,
	create_by: "UHIS",
	update_by: "UHIS"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Update-Covid-Case-Sub-Flow" doc:id="78d9a385-d0f3-4e2f-84f3-3bf81701a162" name="update-covid-case-sub-flow" />
		<ee:transform doc:name="Prepare Response" doc:id="3afff568-6b76-4fc8-afff-0483c12e5c0b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  caseID: vars.covidCase.case_id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="e1aa7925-d40a-40d6-b80b-4465380495b1" message='transactionID: #[vars.transactyionId], correlationID : #[vars.correlationId], message : "Completed update covid cases"'/>
    
</flow>	
</mule>
